include *.sh
include *.yml
include LICENSE
include Makefile
recursive-include cdscdm_tools *.json
recursive-include tests *.json
recursive-include tests *.nc
recursive-include tests *.py
recursive-include tests *.yml